run = "cd web && npm run dev"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd web && npm run build && npm run start"]
deploymentTarget = "cloudrun"

[env]
NEXT_PUBLIC_ZOHO_LOGIN_URL = "https://accounts.zoho.com/oauth/v2/auth"
NODE_ENV = "production"

[[ports]]
localPort = 3000
externalPort = 80